<div align="center">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <b>Profile_picture:</b><image src= "<%=(url_for(@user.profile.image))%>" width="50"height="60">
      </li>
      
      <li class="nav-item">
       <b>Name:</b><%= @user.name %><br/>
      </li>
      
      <li class="nav-item">
       <b>Email:</b><%= @user.email %><br/>
      </li>

      <li class="nav-item">
        <b>Role:</b><%= @user.role %><br/>
      </li>

      <li class="nav-item">
        <b>Mobile_no:</b><%= @user.phone %><br/>
      </li>
      
      <li class="nav-item">
        <%=link_to 'Back', users_path , class:'nav-link'%><br/>
      </li>

     </ul>
</div>

  <%= will_paginate  @user_tasks%>
  
  <p id="GFG_UP"></p>
    <button  onClick="GFG_Fun()">
      <b>Task by:<%=@user.name%></b>
    </button>
  <p id="GFG_DOWN" ></p>

<div align="center"  id="div">
 <% @user.tasks.each do |task| %>
     <div class="navbar-nav ml-auto">

      <div class="nav-item">
        <b>Title:</b><%= link_to task.title ,task_path(task)%><br/><br/>
      </div>

      <div class="nav-item">
       <h4>Description:</h4><%= truncate(task.description, length: 60) %><br/>
      </div>

      <div class="nav-item">
       <b>Company_name:</b><%= truncate(task.company_name,length: 60) %><br/>
      </li class="nav-item">

      <div class="nav-item">
        <b>Category:</b><%= task.category.name %><br/>
      </div>

      <div class="nav-item">
        <%= link_to 'moreInfo........' ,task_path(task) ,class:'nav-link'%>
      </div>
     </div><hr>
 <% end %>
</div> 
  <%#= render "tasks/task", task: @user_tasks%>

  <%= will_paginate  @user_tasks%>

<script>
    $('#GFG_UP').text(
    "Click on div");

    function show(divId) {
        $("#" + divId).show();
    }

    function GFG_Fun() {
        show('div');
        $('#GFG_DOWN').text("Task is visible.");
    }
</script>

